## A large ecommerce company in India (let’s call it X). 
### X gets a thousand orders via their website on a daily basis and they have to deliver them as fast as they can. For delivering the goods ordered by the customers, X has tied up with multiple courier companies in India as delivery partners who charge them some amount per delivery.
### The charges are dependent upon two factors:
## ● Weight of the product
## ● Distance between the warehouse (pickup location) and customer’s delivery address (destination location)
### On an average, the delivery charges are Rs. 100 per shipment. So if X ships 1,00,000 orders per month, they have to pay approximately Rs. 1 crore to the courier companies on a monthly basis as charges.As the amount that X has to pay to the courier companies is very high, they want to verify if the charges levied by their Delivery partners per Order are correct.

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
%matplotlib inline
from datetime import date

In [2]:
# Loading Dataset of pincode Zones of company X
df_pincodezone_X=pd.read_excel("/content/Company X - Pincode Zones.xlsx")
df_pincodezone_X.info()
df_pincodezone_X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Warehouse Pincode  124 non-null    int64
 1   Customer Pincode   124 non-null    int64
 2   Zone               124 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [3]:
# Renaming the column'zone'to 'Delivery Zone as per X'
df_pincodezone_X.rename(columns={"Zone":"Delivery Zone as per X"},inplace=True)
df_pincodezone_X.head()

   Warehouse Pincode  Customer Pincode Delivery Zone as per X
0             121003            507101                      d
1             121003            486886                      d
2             121003            532484                      d
3             121003            143001                      b
4             121003            515591                      d

In [4]:
# Loading Dataset of courier Company invoice
df_couriercompany_invoice_X=pd.read_excel("/content/Courier Company - Invoice.xlsx")
df_couriercompany_invoice_X.info()
df_couriercompany_invoice_X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [5]:
## renaming columns of courier company X
df_couriercompany_invoice_X.rename(columns ={"Zone":"Delivery Zone Charged By Courier Company","Charged Weight":"Total Weight As Per Courier Company (KG)"},inplace=True)
df_couriercompany_invoice_X.head()

,AWB Code,Order ID,Total Weight As Per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone Charged By Courier Company,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [6]:
# checking null values
df_couriercompany_invoice_X.isnull().sum()

AWB Code                                    0
Order ID                                    0
Total Weight As Per Courier Company (KG)    0
Warehouse Pincode                           0
Customer Pincode                            0
Delivery Zone Charged By Courier Company    0
Type of Shipment                            0
Billing Amount (Rs.)                        0
dtype: int64

In [7]:
# Loading dataset of order report of Company X
df_orderReport_of_X=pd.read_excel('/content/Company X - Order Report.xlsx')
df_orderReport_of_X.info()
df_orderReport_of_X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [8]:
# Renaming Column of Order Report of Company X
df_orderReport_of_X.rename(columns={"ExternOrderNo":"Order ID"},inplace=True)
df_orderReport_of_X.head()

     Order ID            SKU  Order Qty
0  2001827036  8904223818706        1.0
1  2001827036  8904223819093        1.0
2  2001827036  8904223819109        1.0
3  2001827036  8904223818430        1.0
4  2001827036  8904223819277        1.0

In [9]:
# checking null values
df_orderReport_of_X.isnull().sum()

Order ID     0
SKU          0
Order Qty    0
dtype: int64

In [10]:
# Loading Dataset of SKU Master of Company X
df_skuMaster_of_X=pd.read_excel('/content/Company X - SKU Master.xlsx')
df_skuMaster_of_X.info()
df_skuMaster_of_X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [11]:
# cheking null values in SKU Master dateset
df_skuMaster_of_X.isnull().sum()

SKU           0
Weight (g)    0
dtype: int64

In [12]:
# Loading Dataset of Courier Company Rates of company X
df_couriercompany_Rates_X=pd.read_excel('/content/Courier Company - Rates.xlsx')
df_couriercompany_Rates_X.info()
df_couriercompany_Rates_X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fwd_a_fixed       1 non-null      float64
 1   fwd_a_additional  1 non-null      float64
 2   fwd_b_fixed       1 non-null      int64
 3   fwd_b_additional  1 non-null      float64
 4   fwd_c_fixed       1 non-null      float64
 5   fwd_c_additional  1 non-null      float64
 6   fwd_d_fixed       1 non-null      float64
 7   fwd_d_additional  1 non-null      float64
 8   fwd_e_fixed       1 non-null      float64
 9   fwd_e_additional  1 non-null      float64
 10  rto_a_fixed       1 non-null      float64
 11  rto_a_additional  1 non-null      float64
 12  rto_b_fixed       1 non-null      float64
 13  rto_b_additional  1 non-null      float64
 14  rto_c_fixed       1 non-null      float64
 15  rto_c_additional  1 non-null      float64
 16  rto_d_fixed       1 non-null      float64
 17  rto_d_additional  1 non-null      float64
 18  rto_e_fixed       1 non-null      float64
 19  rto_e_additional  1 non-null      float64
dtypes: float64(19), int64(1)
memory usage: 288.0 bytes

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [13]:
# checking null values in this dataset
df_couriercompany_Rates_X.isnull().sum()

fwd_a_fixed         0
fwd_a_additional    0
fwd_b_fixed         0
fwd_b_additional    0
fwd_c_fixed         0
fwd_c_additional    0
fwd_d_fixed         0
fwd_d_additional    0
fwd_e_fixed         0
fwd_e_additional    0
rto_a_fixed         0
rto_a_additional    0
rto_b_fixed         0
rto_b_additional    0
rto_c_fixed         0
rto_c_additional    0
rto_d_fixed         0
rto_d_additional    0
rto_e_fixed         0
rto_e_additional    0
dtype: int64

In [14]:
df_couriercompany_Rates_X.describe()

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
25%,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
50%,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
75%,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5
max,29.5,23.6,33.0,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

## Exploratory Data Analysis

In [15]:
# Merging two  dataframe with left on mention index
df_merge_sku_report_X=pd.merge(df_orderReport_of_X,df_skuMaster_of_X, on="SKU", how="left")
df_merge_sku_report_X.head()

     Order ID            SKU  Order Qty  Weight (g)
0  2001827036  8904223818706        1.0         127
1  2001827036  8904223819093        1.0         150
2  2001827036  8904223819109        1.0         100
3  2001827036  8904223818430        1.0         165
4  2001827036  8904223819277        1.0         350

In [16]:
# Checking null values in dataset
df_merge_sku_report_X.isnull().sum()

Order ID      0
SKU           0
Order Qty     0
Weight (g)    0
dtype: int64

In [17]:
# Checkng rows and columns of dataset
df_merge_sku_report_X.shape

(401, 4)

In [18]:
# Removing duplicates from pincode dataframe and merging with courier dataframe

df_merge_courier_X = df_pincodezone_X.drop_duplicates(subset=['Customer Pincode'])
df_merge_courierinvoice_X=df_couriercompany_invoice_X[['Order ID','Customer Pincode','Type of Shipment']]

#merging two data frame
df_merge_pincodeX=pd.merge(df_merge_courierinvoice_X,df_merge_courier_X,on='Customer Pincode')
df_merge_pincodeX.head()

,Order ID,Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone as per X
0,2001806232,507101,Forward charges,121003,d
1,2001806273,486886,Forward charges,121003,d
2,2001806408,532484,Forward charges,121003,d
3,2001806458,143001,Forward charges,121003,b
4,2001807012,515591,Forward charges,121003,d

In [19]:
# Mapping these two data frames

df_merge_SKU_X= pd.merge(df_merge_sku_report_X,df_merge_pincodeX, on='Order ID')
df_merge_SKU_X.head()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone as per X
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e

In [20]:
kg=1000

In [21]:
# renaming merg dataframe of sku columns
df_rename_merge_SKU_X=df_merge_SKU_X.rename(columns={"Order Qty":"Order_Qty","Weight (g)":"Weight_g"})

In [22]:
# Converting gram to kilogram for calculation
convert_g_to_kg= """
Total_Weight_Per_Shipment=(Order_Qty*Weight_g)/@kg
 """
df_rename_merge_SKU_X.eval(convert_g_to_kg,inplace=True)

In [23]:
# Checking frequency table for weight_g column in this skuX data frame
df_rename_merge_SKU_X['Weight_g'].value_counts()

240    98
127    59
133    41
112    40
120    22
350    19
210    15
165    15
121    12
100    11
115     8
290     8
65      7
113     5
137     5
500     5
140     4
130     4
600     4
232     3
10      3
150     2
110     2
170     2
490     1
160     1
250     1
102     1
30      1
300     1
552     1
Name: Weight_g, dtype: int64

In [24]:
# Checking frequency table for Type of Shipment column in this skuX data frame
df_rename_merge_SKU_X["Type of Shipment"].value_counts()

Forward charges            351
Forward and RTO charges     50
Name: Type of Shipment, dtype: int64

In [25]:
# Reordering columns of this data frame to it's original dataframe
reorder_df_rename_SKU_X= df_rename_merge_SKU_X.rename(columns={"Order_Qty":"Order Qty","Total_Weight_Per_Shipment":"Total Weight AS Per X (KG)","Weight_g":"Weight (g)"})
reorder_df_rename_SKU_X.head()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone as per X,Total Weight AS Per X (KG)
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350

### Creating a function loop for assigning Weight Slab

In [26]:
def weight_slab(weight):
  i=round(weight%1,1)
  if i == 0.0:
    return weight
  elif i>0.5:
    return int(weight)+1.0
  else:
    return int(weight)+0.5

In [27]:
#Creating Weight Slab column and assigning apply() method to reorder_df_rename_SKU_X dataframe
reorder_df_rename_SKU_X["Weight Slab As Per X (KG)"]=reorder_df_rename_SKU_X['Total Weight AS Per X (KG)'].apply(weight_slab)
#Creating Weight Slab column and assigning apply() method to df_couriercompany_invoice_X dataframe
df_couriercompany_invoice_X['Weight Slab Charged By Courier Company (KG)']=(df_couriercompany_invoice_X['Total Weight As Per Courier Company (KG)']).apply(weight_slab)

In [28]:
reorder_df_rename_SKU_X.head()

reorder_df_rename_SKU_X.dropna()

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone as per X,Total Weight AS Per X (KG),Weight Slab As Per X (KG)
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127,0.5
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150,0.5
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100,0.5
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165,0.5
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350,0.5
...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,421204,Forward charges,121003,d,0.133,0.5
397,2001806229,8904223818850,1.0,240,421204,Forward charges,121003,d,0.240,0.5
398,2001806226,8904223818850,2.0,240,723146,Forward charges,121003,d,0.480,0.5
399,2001806210,8904223816214,1.0,120,140604,Forward charges,121003,b,0.120,0.5
400,2001806210,8904223818874,1.0,100,140604,Forward charges,121003,b,0.100,0.5

In [29]:
df_couriercompany_invoice_X.head()

,AWB Code,Order ID,Total Weight As Per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone Charged By Courier Company,Type of Shipment,Billing Amount (Rs.),Weight Slab Charged By Courier Company (KG)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.5

# Calculation of Expected Charge

In [30]:
total_Expected_charge=[]
for i in range(len(reorder_df_rename_SKU_X)):
    fwd_category='fwd_'+reorder_df_rename_SKU_X['Delivery Zone as per X'][i]
    fwd_fixed=df_couriercompany_Rates_X[fwd_category+'_fixed'][0]
    fwd_additional=df_couriercompany_Rates_X[fwd_category+'_additional'][0]
    rto_category='rto_'+reorder_df_rename_SKU_X['Delivery Zone as per X'][i]
    rto_fixed=df_couriercompany_Rates_X[rto_category+'_fixed'][0]
    rto_additional=df_couriercompany_Rates_X[rto_category+'_additional'][0]
    if reorder_df_rename_SKU_X['Type of Shipment'][i]=='Forward charges':
        if reorder_df_rename_SKU_X['Weight Slab As Per X (KG)'][i]<=0.5:
            total_Expected_charge.append(fwd_fixed)
        else:
            additional_weight=(reorder_df_rename_SKU_X['Weight Slab As Per X (KG)'][i]-0.5)/0.5
            total_Expected_charge.append(fwd_fixed+additional_weight*fwd_additional)
    if reorder_df_rename_SKU_X['Type of Shipment'][i]=='Forward and RTO charges':
        if reorder_df_rename_SKU_X['Weight Slab As Per X (KG)'][i]<=0.5:
            total_Expected_charge.append(fwd_fixed+rto_fixed)
        else:
            additional_weight=(reorder_df_rename_SKU_X['Weight Slab As Per X (KG)'][i]-0.5)/0.5
            total_Expected_charge.append(fwd_fixed+additional_weight*(fwd_additional+rto_additional))

reorder_df_rename_SKU_X['Expected Charge As Per X (Rs.)']=total_Expected_charge

In [31]:
# Checking number of variable columns
reorder_df_rename_SKU_X.columns

Index(['Order ID', 'SKU', 'Order Qty', 'Weight (g)', 'Customer Pincode',
       'Type of Shipment', 'Warehouse Pincode', 'Delivery Zone as per X',
       'Total Weight AS Per X (KG)', 'Weight Slab As Per X (KG)',
       'Expected Charge As Per X (Rs.)'],
      dtype='object')

In [32]:
# Checking number of variable columns
df_couriercompany_invoice_X.columns

Index(['AWB Code', 'Order ID', 'Total Weight As Per Courier Company (KG)',
       'Warehouse Pincode', 'Customer Pincode',
       'Delivery Zone Charged By Courier Company', 'Type of Shipment',
       'Billing Amount (Rs.)', 'Weight Slab Charged By Courier Company (KG)'],
      dtype='object')

In [33]:
Output2 = reorder_df_rename_SKU_X[['Order ID',
       'Type of Shipment', 'Delivery Zone as per X',
       'Total Weight AS Per X (KG)', 'Weight Slab As Per X (KG)',
       'Expected Charge As Per X (Rs.)']]

In [34]:
output1 = df_couriercompany_invoice_X[['AWB Code', 'Order ID', 'Total Weight As Per Courier Company (KG)',
        'Delivery Zone Charged By Courier Company','Billing Amount (Rs.)', 'Weight Slab Charged By Courier Company (KG)']]

In [35]:
# Mappng these two output
df_merged_output_X = Output2.merge(output1,on='Order ID',how='left')
#Checking Top 5 of this merged output
df_merged_output_X.head()

,Order ID,Type of Shipment,Delivery Zone as per X,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Expected Charge As Per X (Rs.),AWB Code,Total Weight As Per Courier Company (KG),Delivery Zone Charged By Courier Company,Billing Amount (Rs.),Weight Slab Charged By Courier Company (KG)
0,2001827036,Forward charges,e,0.127,0.5,56.6,1091122418320,1.6,b,117.9,2.0
1,2001827036,Forward charges,e,0.150,0.5,56.6,1091122418320,1.6,b,117.9,2.0
2,2001827036,Forward charges,e,0.100,0.5,56.6,1091122418320,1.6,b,117.9,2.0
3,2001827036,Forward charges,e,0.165,0.5,56.6,1091122418320,1.6,b,117.9,2.0
4,2001827036,Forward charges,e,0.350,0.5,56.6,1091122418320,1.6,b,117.9,2.0

In [36]:
# Columns to Keep in order to this dataframe
df_merged_output_X=df_merged_output_X[['Order ID','AWB Code','Total Weight AS Per X (KG)','Weight Slab As Per X (KG)','Total Weight As Per Courier Company (KG)',
                                       'Weight Slab Charged By Courier Company (KG)','Delivery Zone as per X','Delivery Zone Charged By Courier Company',
                                      'Expected Charge As Per X (Rs.)','Billing Amount (Rs.)' ]]

In [37]:
df_merged_output_X.head()

,Order ID,AWB Code,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Total Weight As Per Courier Company (KG),Weight Slab Charged By Courier Company (KG),Delivery Zone as per X,Delivery Zone Charged By Courier Company,Expected Charge As Per X (Rs.),Billing Amount (Rs.)
0,2001827036,1091122418320,0.127,0.5,1.6,2.0,e,b,56.6,117.9
1,2001827036,1091122418320,0.150,0.5,1.6,2.0,e,b,56.6,117.9
2,2001827036,1091122418320,0.100,0.5,1.6,2.0,e,b,56.6,117.9
3,2001827036,1091122418320,0.165,0.5,1.6,2.0,e,b,56.6,117.9
4,2001827036,1091122418320,0.350,0.5,1.6,2.0,e,b,56.6,117.9

In [40]:
# Renaming some column variable to different variable naming for calculation
Expected_Result_output = df_merged_output_X.rename(columns={'AWB Code':'AWB Number','Billing Amount (Rs.)':'Billing_Amount_Rs',
                                                            'Expected Charge As Per X (Rs.)':'Expected_Charge_As_Per_X_Rs'})
Expected_Result_output.head()

,Order ID,AWB Number,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Total Weight As Per Courier Company (KG),Weight Slab Charged By Courier Company (KG),Delivery Zone as per X,Delivery Zone Charged By Courier Company,Expected_Charge_As_Per_X_Rs,Billing_Amount_Rs
0,2001827036,1091122418320,0.127,0.5,1.6,2.0,e,b,56.6,117.9
1,2001827036,1091122418320,0.150,0.5,1.6,2.0,e,b,56.6,117.9
2,2001827036,1091122418320,0.100,0.5,1.6,2.0,e,b,56.6,117.9
3,2001827036,1091122418320,0.165,0.5,1.6,2.0,e,b,56.6,117.9
4,2001827036,1091122418320,0.350,0.5,1.6,2.0,e,b,56.6,117.9

In [44]:
# creating a column of result which is difference between Expected charges and Billed Amount
diff_of_Expted_billed_X="""
Difference_Between_Expected_Charges_and_Billed_Charges_Rs =(Expected_Charge_As_Per_X_Rs - Billing_Amount_Rs)
"""
Expected_Result_output.eval(diff_of_Expted_billed_X,inplace=True)

In [45]:
Expected_Result_output

,Order ID,AWB Number,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Total Weight As Per Courier Company (KG),Weight Slab Charged By Courier Company (KG),Delivery Zone as per X,Delivery Zone Charged By Courier Company,Expected_Charge_As_Per_X_Rs,Billing_Amount_Rs,Difference_Between_Expected_Charges_and_Billed_Charges_Rs
0,2001827036,1091122418320,0.127,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
1,2001827036,1091122418320,0.150,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
2,2001827036,1091122418320,0.100,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
3,2001827036,1091122418320,0.165,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
4,2001827036,1091122418320,0.350,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,1091117222080,0.133,0.5,0.71,1.0,d,d,45.4,90.2,-44.8
397,2001806229,1091117222080,0.240,0.5,0.71,1.0,d,d,45.4,90.2,-44.8
398,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45.4,90.2,-44.8
399,2001806210,1091117221940,0.120,0.5,2.92,3.0,b,b,33.0,174.5,-141.5
400,2001806210,1091117221940,0.100,0.5,2.92,3.0,b,b,33.0,174.5,-141.5

In [48]:
# Renaming columns to our given column output varible
Expected_Result_output=Expected_Result_output.rename(columns={'Billing_Amount_Rs':' Charges Billed by Courier Company (Rs.)',
                                                              'Expected_Charge_As_Per_X_Rs':'Expected Charge As Per X (Rs.)',
                                                              'Difference_Between_Expected_Charges_and_Billed_Charges_Rs':'Difference Between Expected Charges and Billed Charges (Rs.)'
                                                              })
Expected_Result_output.head()

,Order ID,AWB Number,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Total Weight As Per Courier Company (KG),Weight Slab Charged By Courier Company (KG),Delivery Zone as per X,Delivery Zone Charged By Courier Company,Expected Charge As Per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,1091122418320,0.127,0.5,1.6,2.0,e,b,56.6,117.9,-61.3
1,2001827036,1091122418320,0.150,0.5,1.6,2.0,e,b,56.6,117.9,-61.3
2,2001827036,1091122418320,0.100,0.5,1.6,2.0,e,b,56.6,117.9,-61.3
3,2001827036,1091122418320,0.165,0.5,1.6,2.0,e,b,56.6,117.9,-61.3
4,2001827036,1091122418320,0.350,0.5,1.6,2.0,e,b,56.6,117.9,-61.3

In [69]:
#reading Excel file
writer = pd.ExcelWriter('Expected_Result.xlsx',if_sheet_exists="replace",mode="a")

In [70]:
Expected_Result_output.to_excel(writer,sheet_name='Calculations')
calculations=writer.save()

## Calculation of Total Orders

In [71]:
# calculation for total orders of correct charged
correctly_charged=Expected_Result_output[Expected_Result_output["Difference Between Expected Charges and Billed Charges (Rs.)"]==0.0]
correct=["Total orders where X has been correctly charged", len(correctly_charged), sum(correctly_charged[' Charges Billed by Courier Company (Rs.)'])]

# calculation for total orders of overcharged
over_charged=Expected_Result_output[Expected_Result_output["Difference Between Expected Charges and Billed Charges (Rs.)"]<0.0]
over=["Total Orders where X has been overcharged", len(over_charged), np.absolute(sum(over_charged["Difference Between Expected Charges and Billed Charges (Rs.)"]))]


# calculation for total orders of undercharged
under_charged=Expected_Result_output[Expected_Result_output["Difference Between Expected Charges and Billed Charges (Rs.)"]>0.0]
under=["Total Orders where X has been undercharged", len(under_charged), np.absolute(sum(under_charged["Difference Between Expected Charges and Billed Charges (Rs.)"]))]

In [72]:
Final_Expected_result=pd.DataFrame([correct,over,under],columns=["Description","Count","Amount (Rs.)"])

In [73]:
Final_Expected_result

                                       Description  Count  Amount (Rs.)
0  Total orders where X has been correctly charged     12         507.6
1        Total Orders where X has been overcharged    380       31737.5
2       Total Orders where X has been undercharged      9         165.2

## Creating Expected Resultant Output Summary File

In [75]:
# saving this file to that old writer excel flile
Final_Expected_result.to_excel(writer,sheet_name='Summary')
writer.save()

In [79]:
# saving the excel files with this two sheets
Expected_Result_Summary_file=pd.read_excel("/content/Expected_Result.xlsx",sheet_name=['Calculations', 'Summary'])

In [80]:
Expected_Result_Summary_file["Calculations"]

,Unnamed: 0,Order ID,AWB Number,Total Weight AS Per X (KG),Weight Slab As Per X (KG),Total Weight As Per Courier Company (KG),Weight Slab Charged By Courier Company (KG),Delivery Zone as per X,Delivery Zone Charged By Courier Company,Expected Charge As Per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,0,2001827036,1091122418320,0.127,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
1,1,2001827036,1091122418320,0.150,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
2,2,2001827036,1091122418320,0.100,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
3,3,2001827036,1091122418320,0.165,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
4,4,2001827036,1091122418320,0.350,0.5,1.60,2.0,e,b,56.6,117.9,-61.3
...,...,...,...,...,...,...,...,...,...,...,...,...
396,396,2001806229,1091117222080,0.133,0.5,0.71,1.0,d,d,45.4,90.2,-44.8
397,397,2001806229,1091117222080,0.240,0.5,0.71,1.0,d,d,45.4,90.2,-44.8
398,398,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45.4,90.2,-44.8
399,399,2001806210,1091117221940,0.120,0.5,2.92,3.0,b,b,33.0,174.5,-141.5
400,400,2001806210,1091117221940,0.100,0.5,2.92,3.0,b,b,33.0,174.5,-141.5

In [81]:
Expected_Result_Summary_file["Summary"]

,Unnamed: 0,Description,Count,Amount (Rs.)
0,0,Total orders where X has been correctly charged,12,507.6
1,1,Total Orders where X has been overcharged,380,31737.5
2,2,Total Orders where X has been undercharged,9,165.2